<div class="bgimg">
  <div class="topleft">    
    <img class="aptzent-logo" src="./assets/Aptzent.png" alt="Aptzent">
    <p>Aptzent Technology Solutions</p>
  </div>
  <div class="middle">
    <h1>We're Coming Soon</h1>
    <hr>
    <p class="desc">We will be celebrating the launch of our new site very soon!</p>
  </div>
  <div class="bottomleft">
    <span class="copyrights">© 2023 by Coming Soon. </span>
    <a href="https://www.linkedin.com/company/aptzent-tech-solutions/posts/?feedView=all" target="_blank"><i
        class="fa fa-linkedin-square"></i></a>
  </div>
</div>